body {
  padding:0;
  margin:0;
  font-size: 12px;
}

img {
  width: 100%;
}

.wrapper {
  max-width:1440px;
  margin: 0 auto;
}

#cartList img {
  height: 10vh;
  width: auto
}

#savedList img {
  height: 10vh;
  width: auto
}

#crossList img {
  height: 7vh;
  width: auto
}

#historyList img {
  height: 7vh;
  width: auto;
  margin-top: 2vh
}

.cart-quantity {
  width: 5vh;
  text-align: center;
}

.cart-action {
  font-size: 1.1vh
}

.cart-action:hover {
  cursor: pointer
}

img {
    width: 100%;
}

.navbar{
  background-color: #ffe157;
  border-bottom-color: #ffe157;
}

.rectangle{
    width:20px;
    height:20px;
    outline: black solid;
    outline-width: 1px;
    float:left;
    /*clear:both;*/
    margin-right: 8px;
}

.colorRects{
   margin-bottom: 50px;
}

/*div.inline { float:left; }
.clearBoth { clear:both; }*/

.btn__label{
  display:table-cell;
  width:inherit;
  height:inherit;
  vertical-align:middle;

}
.btn{
  font-size:13px;
  /*font-size:.8125rem;*/
  display:inline-block;
  border:1px solid #ccc;
  cursor:pointer;
  font-weight:300;
  letter-spacing:.01em;
  line-height:20px;
  text-align:center;
  text-transform:lowercase;
  vertical-align:top;
  margin-right: 4px;
}

.single_btn{
  margin-top: 12px;
}

.centeredHeader{
  text-align: center;
}

.formRow{
  margin-bottom: 5px
}

.rateCircle{
  width:10;
  display:inline-block;
  float:left;
}

.reviewButton{
  position:relative;
   left:50%;
}

#titleInput{
  width: 100%; height: 30px;
}

#contentInput{
 width: 100%; height: 80px;
}

.list-wrapper {
  border: 0.1vh solid grey;
}

#cross-list-title {
  margin-top: 5vh;
}

.list-group-item {
  margin: 1vh 1vh 1vh 1vh
}

h2 {
  font-size:4em;
  margin:.45em 0;
}
h4 {
  line-height: 1.35em;
}

#home .hero {
  background-image: url(https://wallpaperscraft.com/image/yeezy_boost_350_adidas_sneakers_102932_1920x1080.jpg);
  height: 85vh;
  width: 100%;
  background-position: 185% 50%;
  background-size: 85%;
  background-color: #eeeee4;
  background-repeat: no-repeat;
}

#home .heroContent {
  height:100%;
  position: relative;
}

#home .heroCopy {
  position: relative;
  top:50%;
  width:550px;
  text-align: center;
  border-top:2px dotted #ff5252;
  border-bottom:2px dotted #ff5252;
  transform: translateY(-50%);
}

.cta {
  width:150px;
  border:2px solid #333;
  text-align: center;
  margin: 24px auto;
}
.cta a {
  padding: 9px 0;
  display: block;
  color: #333;
  transition: all .075s linear;
  text-decoration: none;
  font-weight: 400;
}

.cta a:hover {
  background-color:#ffffee;
  transition: all .075s linear;
}

#admin-product {
  margin-top: 10vh;
}
