#cartList img {
  height: 10vh;
  width: auto
}

#savedList img {
  height: 10vh;
  width: auto
}

#crossList img {
  height: 7vh;
  width: auto
}

#historyList img {
  height: 7vh;
  width: auto;
  margin-top: 2vh
}

.cart-quantity {
  width: 5vh;
  text-align: center;
}

.cart-action {
  font-size: 1.1vh
}

.cart-action:hover {
  cursor: pointer
}

img {
    width: 100%;
}

.navbar{
  background-color: #ffe157;
  border-bottom-color: #ffe157;
}

.rectangle{
    width:20px;
    height:20px;
    outline: black solid;
    outline-width: 1px;
    float:left;
    /*clear:both;*/
    margin-right: 8px;
}

.colorRects{
   margin-bottom: 50px;
}

/*div.inline { float:left; }
.clearBoth { clear:both; }*/

.btn__label{
  display:table-cell;
  width:inherit;
  height:inherit;
  vertical-align:middle;

}
.btn{
  font-size:13px;
  /*font-size:.8125rem;*/
  display:inline-block;
  border:1px solid #ccc;
  cursor:pointer;
  font-weight:300;
  letter-spacing:.01em;
  line-height:20px;
  text-align:center;
  text-transform:lowercase;
  vertical-align:top;
  margin-right: 4px;
}

.single_btn{
  margin-top: 12px;
}

.list-wrapper {
  border: 0.1vh solid grey;
}

#cross-list-title {
  margin-top: 5vh;
}

.list-group-item {
  margin: 1vh 1vh 1vh 1vh
}
